.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.4rem;
  justify-content: center;
  padding: 0.5rem
}

.mainMenu {
  border-top: 1px solid var(--toolbarBorderColor);
  padding: 0.5rem 0.5rem 0.7rem 0.5rem
}

.imageInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  color: var(--lightFont);
  font-size: 0.7rem;
  font-weight: 400;
  position: fixed;
  top: 0;
  right: 0;
  padding: 0.5rem 0.6rem;
  width: 100%;
  background-color: var(--toolbarBg);
}

.border__row {
  gap: 0.5rem;
  color: var(--lightFont);
}

.border__row input[type="Color"] {
  min-width: 60px;
  max-width: 60px;
  height: 32px;
  border-radius: 5px;
  padding: 0.2rem;
  border: 1px solid rgb(128 128 128 / 50%);
  box-shadow: var(--buttonBoxShadow);
  width: 100%;
}

.border__row input[type="text"] {
  width: 80px;
  min-height: 30px;
  border-radius: 5px;
  padding: 0.2rem 0.4rem;
  font-size: inherit;
  border: 1px solid rgb(128 128 128 / 50%);
  text-align: right;
  font-family: monospace;
  font-size: 0.9rem;
  box-shadow: var(--buttonBoxShadow);
}


.border__row input[type="Number"] {
  min-height: 30px;
  border-radius: 5px;
  padding: 0.2rem 0.4rem;
  font-size: 0.9rem;
  border: 1px solid rgb(128 128 128 / 50%);
  text-align: right;
  font-family: monospace;
  box-shadow: var(--buttonBoxShadow);
}

select.aspectRatioInput {
  width: 70px;
  min-height: 30px;
  border-radius: 5px;
  padding: 0.2rem 0.4rem;
  font-size: 0.9rem;
  border: 1px solid rgb(128 128 128 / 50%);
  text-align: right;
  font-family: monospace;
  box-shadow: var(--buttonBoxShadow);
}

.border__row input[type="Range"] {
  width: auto;
  min-height: 30px;
  accent-color: deeppink;
  margin-left: 0.5rem;
}

.canvasInputs>label {
  font-size: 0.85rem;
  font-weight: 400;
}

.canvasInputs {
  padding: 0rem 0.5rem;
}

.separador {
  padding: 0rem 0.0rem 0rem 0rem;
}

.buttonOnlyIcon {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  padding: 0rem;
  height: 2rem;
  width: 2rem;
  color: var(--lightFont)
}

.buttonWithIcon {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
  align-items: center;
  justify-content: center;
  padding: 0rem 0.6rem 0rem 0.4rem;
  height: 2rem;
  color: var(--buttonIconColor);
}

.svgBW {
  fill: var(--buttonIconColor);
}

.buttonWithIcon svg,
.buttonOnlyIcon svg {
  height: var(--buttonIconSize);
}

.buttonWithIcon span {
  color: var(--lightFont)
}



.borderRanges {

  display: grid;
  align-items: center;
  grid-template-columns: 1fr 70px auto;
  gap: 0.4rem;
}

.canvasInputs {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.4rem;

}

input.aspectRatioInput {
  width: 50px;
  min-height: 30px;
}

.buttonText {
  height: 2rem;
  padding: 0rem 0.5rem;
  color: var(--lightFont)
}


.popoverButton {
  position: relative;
}

.popoverInfo {
  background: #333;
  color: white;
  border: 2px solid rgb(204, 204, 204);
  font-weight: 400;
  padding: 1rem;
  max-width: 200px;
  position: fixed;
  top: 50%;
  /* Coloca el popover justo encima del borde superior del botón */
  left: 50%;
  /* Centra el popover horizontalmente */
  transform: translateX(-50%);
  border-radius: 10px;
}

.collageOptions__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  padding: 0.5rem;
  color: var(--lightFont)
}

.collageOptions__row {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
  color: var(--lightFont);
  align-items: center;
  accent-color: var(--accentColor);
}

.collageOptions__row input[type="Number"] {
  max-width: 70px;
}