.imagesGroup {
  overflow: auto;
}

.imagesGroup img {
  box-shadow: 1px 1px 8px 1px rgb(12, 12, 12);
  width: 100%;
}

.imagesGroup span {
  width: 120px;
}

.imagesList {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  gap: 1rem;
  align-content: center;
  padding-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-height: 500px;
}

.imagesListRow {
  display: flex;
  flex-direction: row;
}

.imagesListButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
  gap: 0.3rem;
}

.btImagesList {
  display: flex;
  flex-direction: row;
  gap: 1rem;
    max-width: 90vw;
      overflow-x: auto;
}

.btImagesList img {

  height: 50px;
  align-items: center;

}

.btImagesListCol {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btImagesListButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
  gap: 0.3rem;
  margin-top: -15px;
}