.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.border__row {
  gap: 0.5rem;
  color: var(--lightFont);
}

.border__row input[type="Color"] {
  min-width: 60px;
  max-width: 60px;
  /*  height: 100%; */
  height: 32px;

  border-radius: 5px;
  padding: 0.2rem;
  border: 1px solid rgb(128 128 128 / 50%);
  box-shadow: var(--buttonBoxShadow);
  width: 100%;
}

.border__row input[type="text"] {
  width: 80px;
  /*     height: 100%; */
  min-height: 30px;

  border-radius: 5px;
  padding: 0.2rem 0.4rem;
  font-size: inherit;
  border: 1px solid rgb(128 128 128 / 50%);
  text-align: right;
  font-family: monospace;
  font-size: 0.9rem;
  box-shadow: var(--buttonBoxShadow);
}

.border__row input[type="Number"] {
  width: 70px;
  /*     height: 100%; */
  min-height: 30px;

  border-radius: 5px;
  padding: 0.2rem 0.4rem;
  font-size: 0.9rem;
  border: 1px solid rgb(128 128 128 / 50%);
  text-align: right;
  font-family: monospace;
  box-shadow: var(--buttonBoxShadow);

}

.border__row input[type="Range"] {
  width: auto;
  /*     height: 100%; */
  min-height: 30px;

  accent-color: deeppink;
  margin-left: 0.5rem;

}

.buttonOnlyIcon {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  padding: 0rem;
  height: 2rem;
  width: 2rem;
  color: var(--lightFont)
}

.buttonWithIcon {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
  align-items: center;
  justify-content: center;
  padding: 0rem 0.4rem;
  height: 2rem;
  color: var(--buttonIconColor);


}

.buttonWithIcon span {
  color: var(--lightFont)
}

.buttonWithIcon:hover {
  /* outline: 1px solid rgb(0, 183, 255);
  border: 1px solid rgb(0, 183, 255); */
}

.borderRanges {

  display: grid;
  align-items: center;
  grid-template-columns: 1fr 70px auto;
  gap: 0.4rem;
}

.buttonText {
  height: 2rem;
  padding: 0rem 0.5rem;
  color: var(--lightFont)
}