 :root {

   --accentColor: deeppink;
   --bgMiddleGray: rgb(128 128 128);
   --bgAlmostBlack: rgb(15, 15, 15);
   --toolbarBg: hsl(0, 0%, 13%);
   --lightFont: rgb(245, 245, 245);
   --toolbarBorder: 1px solid rgb(64, 64, 64);
   --toolbarBorderColor: rgb(64, 64, 64);

   --buttonBorder: 1px solid black;
   --buttonBg: rgba(255, 255, 255, 0.06);
   --buttonBoxShadow: 1px 1px 2px 1px rgb(12, 12, 12);
   --buttonHoverColor: rgb(128, 128, 128);
   --buttonIconColor: rgb(216, 155, 0);
   --buttonIconColorHover: rgb(255, 183, 0);
   --buttonIconSize: 16px;
 }

 *,
 *::before,
 *::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 body {
   display: flex;
   flex-direction: column;
   align-items: center;
   min-height: 100vh;
   min-width: fit-content;
   background-color: var(--bgAlmostBlack);

   font-family: -apple-system, BlinkMacSystemFont,
     "Segoe UI", system-ui, Roboto, Oxygen-Sans, Ubuntu, Cantarell,
     "Helvetica Neue", sans-serif;

 }

 .app-wrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
   max-width: 1187px;
   width: 100%;
 }

 #app {
   display: grid;
   grid-template-columns: 1fr 420px;
   grid-template-rows: 1fr;
   grid-template-areas: "section-image section-toolbar";


   min-height: 100svh;
   box-sizing: border-box;
   background-color: var(--bgMiddleGray);
   width: 100%;
 }

 #section__image {
   grid-area: section-image;
   background-color: var(--bgMiddleGray);
   margin-top: auto;
   margin-bottom: auto;
   display: grid;
   place-content: center;
 }

 #section__toolbar {
   grid-area: section-toolbar;
   background-color: var(--toolbarBg);
   padding: 1rem;
   color: var(--lightFont);
   border-right: var(--toolbarBorder);
 }



 .canvas__container {

   display: flex;
   flex-direction: row;
   justify-content: center;
   margin: 1rem;
   /* si se pone altura fija aca, redimensiona el canvas */

 }

 #canvas-small {
   max-width: 100%;
 }

 #form-upload {
   display: flex;
   flex-direction: column;
   padding: 1rem;
 }

 .drop-container {
   position: relative;
   display: flex;
   gap: 1rem;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 1rem 8rem;
   border-radius: 10px;
   border: 2px dashed black;
   color: black;
   cursor: pointer;
   /*    transition: background .2s ease-in-out, border .2s ease-in-out;
 */
   height: 80svh;
 }

 .drop-container:hover,
 .drop-container-dragover {
   border: 2px dashed white;
 }


 .drop-container:hover .drop-title {
   color: black;
 }

 .drop-title {
   color: black;
   padding: 0.2rem 0.5rem;
   font-size: 1.5rem;
   font-weight: bold;
   text-align: center;
   /* transition: color .2s ease-in-out; */

 }

 .drop-container:hover .drop-title,
 .drop-title-dragover {
   background-color: deeppink;
 }

 /*  .drop-title-dragover {
   background-color: deeppink;
 } */

 .display-none {
   display: none;
 }

 .flex-row {
   display: flex;
   flex-direction: row;
 }

 .flex-col {
   display: flex;
   flex-direction: column;
 }

 .gap05 {
   gap: 0.5rem;
 }

 .place-end {
   place-content: flex-end;
 }

 .place-center {
   place-content: center;
   place-items: center;
 }

 summary {
   cursor: pointer;
 }

 #section__toolbar button,
 #section__mobile button {
   /*    padding: 0.5rem 1rem;
 */
   border-radius: 5px;
   border: var(--buttonBorder);
   background-color: var(--buttonBg);

   cursor: pointer;
   font-size: 0.9rem;
   box-shadow: var(--buttonBoxShadow);
   font-weight: 400;
 }

 /* #section__toolbar button {
   padding: 0.5rem 1rem;
 }
 */

 #section__toolbar button:hover {

   color: white;
   outline: 1px solid var(--buttonHoverColor);
   border: 1px solid var(--buttonHoverColor);
 }

 #section__mobile button:hover {

   outline: 1px solid var(--bgMiddleGray);
   border: 1px solid var(--bgMiddleGray);
   color: var(--buttonIconColorHover)
 }

 #section__toolbar input,
 #section__mobile input {
   color: var(--lightFont);
   background-color: var(--toolbarBg);
 }

 #section__mobile {
   grid-area: section-mobile;
   display: none;
   background-color: var(--toolbarBg);
   /*    padding: 0.7rem 0.5rem 0.8rem 0.5rem;
   gap: 1rem; */
 }



 .unselectable {
   user-select: none;
 }

 @media screen and (max-width: 1050px) {

   /* TODO: tendría que ser solo para teléfonos, por el problema este de cuando se muestra la barra de navegación y cambia el tamaño de la pantalla, por lo que no combiene hacer un resize ahi, pero en una pc con una ventana vertical si habría que hacer que cambie con el resize o permitir el overflow */
   body {
     overflow-y: hidden;
   }

   .drop-container {
     /*  height: 60vh;   */
     height: auto;
     padding: 1rem 1rem;
   }

   #section__toolbar {
     display: none;
   }

   #app {
     display: grid;

     grid-template-columns: 1fr;
     grid-template-areas: "section-image" "section-mobile";
     grid-template-rows: 1fr auto;
     height: 100svh;
     box-sizing: border-box;
     background-color: rgb(128 128 128);
   }

   #section__mobile {
     display: flex;
     flex-direction: column;

   }

 }