 *,
 *::before,
 *::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 body {
   display: flex;
   flex-direction: column;

   min-height: 100vh;
   min-width: fit-content;

 }

 #app {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr;

   /*    border: 2px solid palevioletred;
 */
   /*  justify-items: center;
  align-content: center; */
   min-height: 100vh;
   box-sizing: border-box;
 }

 #section__image {
   border-right: 1px solid var(--gray-8);
   background-color: rgb(128 128 128);
   padding: 1rem;
 }

 #section__toolbar {
   margin: 1rem;
 }

 .canvas__container {
   padding: 1rem 1rem 1.5rem 1rem;
   /*    border: 1px solid green;
 */
   display: flex;
   flex-direction: row;
   justify-content: center;


 }

 #canvas-small {

   /* ojo, no debe ser nunca mayor que el valor de max width que está en la configuración mainCanvasConfig */
   max-width: 800px;
   width: 100%;
 }

 #form-upload {
   display: flex;
   flex-direction: column;
   padding: 1rem;
   /*    border: 1px solid purple
 */
 }

 #input-upload {
   margin: 0.5rem;
   padding: 0.5rem;
   border-radius: 0.5rem;
   border: 1px solid #8f8f8f;
   width: fit-content;

 }

 #input-upload::file-selector-button {
   font-weight: bold;
   color: dodgerblue;
   padding: 0.5em;
   border: thin solid dodgerblue;
   border-radius: 3px;
   background-color: white;
 }

 #input-upload::file-selector-button:hover {
   background-color: dodgerblue;
   color: white;
   cursor: pointer;
 }

 .toolbar {
   display: flex;
   flex-direction: row;
   justify-content: center;
   /*    border: 1px solid blue;
 */
   padding: 1rem;
   gap: 1rem;
 }

 .drop-container {
   position: relative;
   display: flex;
   gap: 1rem;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 1rem 1rem;
   border-radius: 10px;
   border: 2px dashed black;
   color: black;
   cursor: pointer;
   /*    transition: background .2s ease-in-out, border .2s ease-in-out;
 */
   height: 80vh;
 }

 .drop-container:hover,
 .drop-container-dragover {
   border: 2px dashed white;
 }


 .drop-container:hover .drop-title {
   color: black;
 }

 .drop-title {
   color: black;
   padding: 0.2rem 0.5rem;
   font-size: 1.5rem;
   font-weight: bold;
   text-align: center;
   /* transition: color .2s ease-in-out; */

 }

 .drop-container:hover .drop-title,
 .drop-title-dragover {
   background-color: deeppink;
 }

 /*  .drop-title-dragover {
   background-color: deeppink;
 } */



 details.toolbar__details {
   border: 1px solid #aaa;
   border-radius: 4px;
   padding: 0.5em 0.5em 0;

 }

 summary.toolbar__summary {
   font-weight: bold;
   color: var(--gray-12);
   margin: -0.5em -0.5em 0;
   padding: 0.5em;
 }

 details.toolbar__details[open] {
   padding: 0.5em;
 }

 summary.toolbar__summary[open] {
   border-bottom: 1px solid #aaa;
   margin-bottom: 0.5em;
 }

 .display-none {
   display: none;
 }

 .undoList {
   display: flex;

 }

 .undoList img {
   border: 1px solid red;
 }

 .toolbar__borders {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: auto;
   gap: 1rem;
 }

 .toolbar__borders input[type="Number"] {
   border-radius: 5px;
   padding: 0.2rem 0.4rem;
   font-size: inherit;
   border: 1px solid rgb(128 128 128 / 50%);
   text-align: right;
   width: 100px;
 }

 .toolbar__borders input[type="Range"] {
   min-width: 200px;
   max-width: 300px;
   width: 100%;
 }

 .flex-row {
   display: flex;
   flex-direction: row;
 }

 .flex-col {
   display: flex;
   flex-direction: column;
 }

 .gap05 {
   gap: 0.5rem;
 }